/**\
|  | General
\**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font: 100%/1.375em 'Roboto', sans-serif; }

a { text-decoration: none; }

/**\
|  | Navigation
\**/
.float-nav {
  position: fixed; z-index: 1;
  bottom: 1.375em; left: 1.375em;
  overflow: hidden;
  width: 15.625em; height: 12.500em;
  padding: 1.375em;
  text-align: left;
  background: #1E4B85;
  border: 5px solid #1E4B85;
  box-shadow:
    0 1px 2px rgba(0,0,0,0.2),
    0 4px 10px rgba(0,0,0,0.15);
  transition: all 300ms cubic-bezier(.6,-0.3,.3,1.3);
}
.float-nav.closed {
  width: 0; height: 0;
  border: 5px solid #fff;
  border-radius: 50%;
}

.float-nav a {
  display: inline-block;
  color: #fff;
}
.float-nav > a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.pull-right {
  float: right;
}

.float-nav .toggle {
  position: absolute;
  bottom: 0; left: 0;
  width: 1.375em; height: 1.375em;
  font-size: 200%; line-height: 1.25em;
  font-weight: 300; text-align: center;
  transform: rotate(45deg);
  transform-origin: 50%;
  transition: all 300ms;
}
.float-nav.closed .toggle {
  transform: rotate(0);
}

.float-nav ul {
  width: 100%;
  padding: 0.5em;
  position: absolute;
  bottom: 4.125em; left: 0;
  opacity: 1;
  transition: all 300ms;
}
.float-nav.closed ul { opacity: 0; }

.float-nav li {
  padding: 0.25em 0; margin-bottom: 0;
  transition: all 600ms; }
.float-nav.closed li { margin-bottom: 1.375em; }

/**\
|  | Range Input
\**/
input[type=range]{
  -webkit-appearance: none;
  background: none;
  width: 100%;
  z-index: 9999;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]:focus {
  outline: none;
  &::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
  &::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
  &::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]:focus::-ms-track {
  background: #ccc;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

/**\
|  | Intro Modal
\**/
.modal {
  text-align: right;
  font-family:Verdana, Geneva, sans-serif;
  /*padding: 15px 15px;*/
  box-shadow:0px 0px 10px black;
  width: 350px;
  /*height: 350px;*/
  background-color: #ffffff;
  border: none;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.modal p {
  text-align: center;
  padding: 0 15px 15px;
}

.btn-close {
  /*text-align: center;*/
  position: relative;  
  /*background-color:#f7f7f7;*/
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  /*border-radius:0 px;*/
  /*border:1px solid #000000;*/
  cursor:pointer;
  /*color:#000000;*/
  font-family:arial;
  font-size:17px;
  /*width:100px;*/
  padding: 10px 10px;
  text-decoration:none;
}
.btn-close:hover {
  /*background-color:#ffffff;*/
}
.btn-close:active {
  position:relative;
  top:1px;
}
